<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Salud y Seguridad Ocupacional</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='preloader.css') }}">
</head>
<body>

    <div id="pageloader-overlay" class="visible incoming">
        <div class="loader-wrapper-outer">
            <div class="loader-wrapper-inner">
                <div class="text-center new-loading-modal">
                    <img src="{{ url_for('static', filename='pollos jaime 2.0.png') }}" alt="Cargando...">
                </div>
            </div>
        </div>
      </div>
   
    
<div class="container">
    <!-- Header con logo -->
    <header class="text-center mt-5">
        <!-- Logo en la parte superior -->
        <img src="{{ url_for('static', filename='pollos jaime 2.0.png') }}" alt="Logo de Salud y Seguridad Ocupacional" class="img-fluid mb-3" style="max-width: 200px;">
        
        <h1>Bienvenidos a nuestra Aplicación de Pollos Jaime</h1>
        <p>Registra tus datos en la plataforma y estate al pendiente de las novedades</p>
    </header>

    <!-- Botones para navegación -->
    <div class="row text-center">
        <div class="col-md-4 mb-3">
            <a href="/examenes" class="btn btn-primary w-100">Datos del empleado</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="/ausentismos" class="btn btn-secondary w-100">Datos del empleado</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="/capacitaciones" class="btn btn-success w-100">Capacitaciones</a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='preloader.js') }}"></script>

</body>
</html>
